workflows/setup-ai-platform-spreadsheet.json
{
  "name": "Setup: Create AI Platform Spreadsheet",
  "nodes": [
    {
      "parameters": {},
      "id": "sap-0001-0000-0000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": { \"title\": \"AI Platform Shared\" },\n  \"sheets\": [\n    { \"properties\": { \"title\": \"Interactions\", \"index\": 0 } },\n    { \"properties\": { \"title\": \"Feedback\", \"index\": 1 } },\n    { \"properties\": { \"title\": \"Learnings\", \"index\": 2 } }\n  ]\n}",
        "options": {}
      },
      "id": "sap-0001-0000-0000-000000000002",
      "name": "Create Spreadsheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 304],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qpV1Z8tc0XDqAdRH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const spreadsheetId = $input.first().json.spreadsheetId;\nconst sheetIds = {};\nfor (const s of $input.first().json.sheets) {\n  sheetIds[s.properties.title] = s.properties.sheetId;\n}\n\nconst body = {\n  valueInputOption: 'RAW',\n  data: [\n    {\n      range: 'Interactions!A1:G1',\n      values: [['InteractionID', 'ProjectName', 'UserMessage', 'AIResponse', 'ToolsUsed', 'ResponseTime', 'Timestamp']]\n    },\n    {\n      range: 'Feedback!A1:G1',\n      values: [['FeedbackID', 'InteractionID', 'ProjectName', 'Rating', 'Correction', 'Category', 'Timestamp']]\n    },\n    {\n      range: 'Learnings!A1:F1',\n      values: [['LearningID', 'ProjectName', 'Learning', 'Source', 'Active', 'CreatedAt']]\n    }\n  ]\n};\n\nreturn [{ json: { spreadsheetId, sheetIds, headersBody: body } }];"
      },
      "id": "sap-0001-0000-0000-000000000003",
      "name": "Build Headers Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.headersBody) }}",
        "options": {}
      },
      "id": "sap-0001-0000-0000-000000000004",
      "name": "Add Headers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 304],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qpV1Z8tc0XDqAdRH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "out-id", "name": "spreadsheetId", "value": "={{ $('Build Headers Body').first().json.spreadsheetId }}", "type": "string" },
            { "id": "out-msg", "name": "result", "value": "={{ 'AI Platform Shared spreadsheet created. ID: ' + $('Build Headers Body').first().json.spreadsheetId }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "sap-0001-0000-0000-000000000005",
      "name": "Output ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 304]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Create Spreadsheet", "type": "main", "index": 0 }]] },
    "Create Spreadsheet": { "main": [[{ "node": "Build Headers Body", "type": "main", "index": 0 }]] },
    "Build Headers Body": { "main": [[{ "node": "Add Headers", "type": "main", "index": 0 }]] },
    "Add Headers": { "main": [[{ "node": "Output ID", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
