workflows/shared-log-interaction.json
{
  "name": "Shared: Log Interaction",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "log-interaction",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "sli-0001-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "e1a2b3c4-5d6e-7f8a-9b0c-1d2e3f4a5b6c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a-iid",
              "name": "InteractionID",
              "value": "={{ $json.body.interaction_id || $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "a-proj",
              "name": "ProjectName",
              "value": "={{ $json.body.project || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "a-msg",
              "name": "UserMessage",
              "value": "={{ $json.body.user_message || '' }}",
              "type": "string"
            },
            {
              "id": "a-resp",
              "name": "AIResponse",
              "value": "={{ $json.body.ai_response || '' }}",
              "type": "string"
            },
            {
              "id": "a-tools",
              "name": "ToolsUsed",
              "value": "={{ $json.body.tools_used || '' }}",
              "type": "string"
            },
            {
              "id": "a-time",
              "name": "ResponseTime",
              "value": "={{ $json.body.response_time || '' }}",
              "type": "string"
            },
            {
              "id": "a-trace",
              "name": "DecisionTrace",
              "value": "={{ $json.body.decision_trace || '' }}",
              "type": "string"
            },
            {
              "id": "a-ts",
              "name": "Timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "sli-0001-0000-0000-000000000002",
      "name": "Build Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        304
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IDVVby9y7ccYwi5NRjXCx5HRjao2NJ3KNUKDrv-Y3bI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Interactions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "InteractionID",
              "displayName": "InteractionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ProjectName",
              "displayName": "ProjectName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UserMessage",
              "displayName": "UserMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AIResponse",
              "displayName": "AIResponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ToolsUsed",
              "displayName": "ToolsUsed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ResponseTime",
              "displayName": "ResponseTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DecisionTrace",
              "displayName": "DecisionTrace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sli-0001-0000-0000-000000000003",
      "name": "Append to Interactions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        800,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qpV1Z8tc0XDqAdRH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ok",
              "name": "status",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "sli-0001-0000-0000-000000000004",
      "name": "Return OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = 'b9cd461c9cd9a90ee16c3dd40f8637e3';\nconst authHeader = $json.headers['x-auth-token'] || '';\nif (authHeader !== token) { return []; }\nreturn $input.all();"
      },
      "id": "sli-0001-0000-0000-000000000010",
      "name": "Auth Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        304
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Row": {
      "main": [
        [
          {
            "node": "Append to Interactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Interactions": {
      "main": [
        [
          {
            "node": "Return OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Build Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}