workflows/shared-learning-loop.json
{
  "name": "Shared: Learning Loop",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 24 }] }
      },
      "id": "sll-0001-0000-0000-000000000001",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 304]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1IDVVby9y7ccYwi5NRjXCx5HRjao2NJ3KNUKDrv-Y3bI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Feedback", "mode": "name" },
        "options": {},
        "operation": "read",
        "returnAll": true
      },
      "id": "sll-0001-0000-0000-000000000002",
      "name": "Read Feedback",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 200],
      "credentials": { "googleSheetsOAuth2Api": { "id": "qpV1Z8tc0XDqAdRH", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1IDVVby9y7ccYwi5NRjXCx5HRjao2NJ3KNUKDrv-Y3bI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Interactions", "mode": "name" },
        "options": {},
        "operation": "read",
        "returnAll": true
      },
      "id": "sll-0001-0000-0000-000000000003",
      "name": "Read Interactions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 420],
      "credentials": { "googleSheetsOAuth2Api": { "id": "qpV1Z8tc0XDqAdRH", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1IDVVby9y7ccYwi5NRjXCx5HRjao2NJ3KNUKDrv-Y3bI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Learnings", "mode": "name" },
        "options": {},
        "operation": "read",
        "returnAll": true
      },
      "id": "sll-0001-0000-0000-000000000004",
      "name": "Read Learnings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 640],
      "credentials": { "googleSheetsOAuth2Api": { "id": "qpV1Z8tc0XDqAdRH", "name": "Google Sheets account" } }
    },
    {
      "parameters": { "mode": "append" },
      "id": "sll-0001-0000-0000-000000000010",
      "name": "Merge Feedback+Interactions",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [700, 304]
    },
    {
      "parameters": { "mode": "append" },
      "id": "sll-0001-0000-0000-000000000012",
      "name": "Merge All",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [920, 420]
    },
    {
      "parameters": {
        "jsCode": "const feedback = $('Read Feedback').all();\nconst interactions = $('Read Interactions').all();\nconst existingLearnings = $('Read Learnings').all();\n\nconst sevenDaysAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString();\nconst recentFeedback = feedback.filter(f => (f.json.Timestamp || '') >= sevenDaysAgo);\n\nif (recentFeedback.length === 0) {\n  return [{ json: { skip: true, summary: 'No recent feedback to process.' } }];\n}\n\nconst interactionMap = {};\nfor (const i of interactions) {\n  interactionMap[i.json.InteractionID] = i.json;\n}\n\nconst lowRated = recentFeedback.filter(f => parseInt(f.json.Rating || 5) <= 3);\n\nif (lowRated.length === 0) {\n  return [{ json: { skip: true, summary: `${recentFeedback.length} feedback items, all positive. No learnings needed.` } }];\n}\n\nlet context = 'RECENT LOW-RATED INTERACTIONS:\\n\\n';\nfor (const fb of lowRated) {\n  const interaction = interactionMap[fb.json.InteractionID] || {};\n  context += `Project: ${fb.json.ProjectName}\\n`;\n  context += `User asked: ${interaction.UserMessage || 'unknown'}\\n`;\n  context += `AI responded: ${(interaction.AIResponse || 'unknown').substring(0, 500)}\\n`;\n  if (interaction.ToolsUsed) context += `Tools used: ${interaction.ToolsUsed}\\n`;\n  if (interaction.DecisionTrace) context += `Decision trace:\\n${(interaction.DecisionTrace || '').substring(0, 1000)}\\n`;\n  context += `Rating: ${fb.json.Rating}/5\\n`;\n  if (fb.json.Correction) context += `User correction: ${fb.json.Correction}\\n`;\n  context += '---\\n';\n}\n\ncontext += '\\nEXISTING LEARNINGS (already applied):\\n';\nfor (const l of existingLearnings) {\n  if (l.json.Active === 'TRUE') {\n    context += `- [${l.json.ProjectName}] ${l.json.Learning}\\n`;\n  }\n}\n\nconst avgRating = recentFeedback.reduce((sum, f) => sum + parseInt(f.json.Rating || 3), 0) / recentFeedback.length;\n\nreturn [{ json: { skip: false, context, lowRatedCount: lowRated.length, avgRating: avgRating.toFixed(1) } }];"
      },
      "id": "sll-0001-0000-0000-000000000005",
      "name": "Analyze Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "check-skip", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "sll-0001-0000-0000-000000000006",
      "name": "Has Low Feedback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1360, 420]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an AI improvement analyst. Given user feedback on AI assistant interactions, synthesize 1-3 concrete, actionable behavioral instructions that should be added to the AI's system prompt to improve future responses.\n\nRules:\n- Each learning should be a specific instruction, not a vague suggestion\n- Start each with a verb (e.g. 'Always...', 'Never...', 'When asked about X, include Y...')\n- Don't duplicate existing learnings\n- Include which project the learning applies to, or say 'global' if it applies to all\n- When tool usage data and decision traces are available, analyze them for patterns: wrong tool selection, missing tool calls, redundant calls, incorrect parameters\n- Output ONLY a JSON array of objects: [{\"project\": \"...\", \"learning\": \"...\"}]\n\n{{ $json.context }}",
        "options": { "maxIterations": 1 }
      },
      "id": "sll-0001-0000-0000-000000000007",
      "name": "Synthesize Learnings",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1580, 320]
    },
    {
      "parameters": {
        "model": { "__rl": true, "mode": "id", "value": "claude-haiku-4-5-20251001" },
        "options": { "maxTokensToSample": 1024 }
      },
      "id": "sll-0001-0000-0000-000000000020",
      "name": "Claude Haiku",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1580, 540],
      "credentials": { "anthropicApi": { "id": "WsdnsArOUZJ9ssTS", "name": "Anthropic account" } }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output || '';\nconst match = text.match(/\\[[\\s\\S]*\\]/);\nif (!match) {\n  return [{ json: { LearningID: 'none', ProjectName: 'global', Learning: 'No learnings extracted', Source: 'error', Active: 'FALSE', CreatedAt: new Date().toISOString().split('T')[0] } }];\n}\ntry {\n  const learnings = JSON.parse(match[0]);\n  return learnings.map(l => ({ json: {\n    LearningID: Date.now().toString() + Math.random().toString(36).substr(2, 4),\n    ProjectName: l.project || 'global',\n    Learning: l.learning,\n    Source: 'feedback-synthesis',\n    Active: 'FALSE',\n    CreatedAt: new Date().toISOString().split('T')[0]\n  }}));\n} catch (e) {\n  return [{ json: { LearningID: 'error', ProjectName: 'global', Learning: 'Parse error: ' + e.message, Source: 'error', Active: 'FALSE', CreatedAt: new Date().toISOString().split('T')[0] } }];\n}"
      },
      "id": "sll-0001-0000-0000-000000000008",
      "name": "Parse Learnings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 320]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1IDVVby9y7ccYwi5NRjXCx5HRjao2NJ3KNUKDrv-Y3bI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Learnings", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            { "id": "LearningID", "displayName": "LearningID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "ProjectName", "displayName": "ProjectName", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Learning", "displayName": "Learning", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Source", "displayName": "Source", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Active", "displayName": "Active", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "CreatedAt", "displayName": "CreatedAt", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sll-0001-0000-0000-000000000009",
      "name": "Save Learnings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2020, 320],
      "credentials": { "googleSheetsOAuth2Api": { "id": "qpV1Z8tc0XDqAdRH", "name": "Google Sheets account" } }
    }
  ],
  "connections": {
    "Daily Schedule": { "main": [[
      { "node": "Read Feedback", "type": "main", "index": 0 },
      { "node": "Read Interactions", "type": "main", "index": 0 },
      { "node": "Read Learnings", "type": "main", "index": 0 }
    ]] },
    "Read Feedback": { "main": [[{ "node": "Merge Feedback+Interactions", "type": "main", "index": 0 }]] },
    "Read Interactions": { "main": [[{ "node": "Merge Feedback+Interactions", "type": "main", "index": 1 }]] },
    "Merge Feedback+Interactions": { "main": [[{ "node": "Merge All", "type": "main", "index": 0 }]] },
    "Read Learnings": { "main": [[{ "node": "Merge All", "type": "main", "index": 1 }]] },
    "Merge All": { "main": [[{ "node": "Analyze Feedback", "type": "main", "index": 0 }]] },
    "Analyze Feedback": { "main": [[{ "node": "Has Low Feedback?", "type": "main", "index": 0 }]] },
    "Has Low Feedback?": { "main": [[{ "node": "Synthesize Learnings", "type": "main", "index": 0 }], []] },
    "Claude Haiku": { "ai_languageModel": [[{ "node": "Synthesize Learnings", "type": "ai_languageModel", "index": 0 }]] },
    "Synthesize Learnings": { "main": [[{ "node": "Parse Learnings", "type": "main", "index": 0 }]] },
    "Parse Learnings": { "main": [[{ "node": "Save Learnings", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
