workflows/stripe-webhook-handler.json
{
  "name": "Stripe Webhook Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "sw-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "b2c3d4e5-f6a7-8901-bcde-stripe000001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst headers = $input.first().json.headers || {};\n\n// Stripe signature verification placeholder\n// In production, verify using the stripe-signature header and your webhook signing secret.\n// n8n Code nodes don't have native crypto, so for now we rely on the webhook URL being secret.\n// TODO: Add full HMAC-SHA256 verification when deploying to production.\n\nconst eventType = body.type || '';\nconst eventData = body.data && body.data.object ? body.data.object : {};\n\n// Extract common fields\nconst email = eventData.customer_email || eventData.customer_details?.email || '';\nconst metadata = eventData.metadata || {};\nconst projectType = metadata.projectType || metadata.product_type || 'cosmetic';\nconst subscriptionId = eventData.subscription || eventData.id || '';\nconst customerId = eventData.customer || '';\n\nreturn [{ json: {\n  eventType,\n  email: email.toLowerCase().trim(),\n  projectType,\n  subscriptionId,\n  customerId,\n  plan: 'basic',\n  rawEvent: body\n} }];"
      },
      "id": "sw-0002",
      "name": "Parse Stripe Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-checkout",
              "leftValue": "={{ $json.eventType }}",
              "rightValue": "checkout.session.completed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-0003",
      "name": "Is Checkout Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://princeadarkwah.app.n8n.cloud/webhook/register-user",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Admin-Token",
              "value": "b9cd461c9cd9a90ee16c3dd40f8637e3"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.email, plan: $json.plan, projectType: $json.projectType }) }}",
        "options": {}
      },
      "id": "sw-0004",
      "name": "Register New User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const regResponse = $input.first().json;\nlet result;\n\n// Registration response is a JSON string in the 'result' field\ntry {\n  if (typeof regResponse.result === 'string') {\n    result = JSON.parse(regResponse.result);\n  } else {\n    result = regResponse;\n  }\n} catch (e) {\n  result = regResponse;\n}\n\nif (!result.success) {\n  return [{ json: { action: 'registration_failed', error: result.error || 'Unknown error', email: $('Parse Stripe Event').first().json.email } }];\n}\n\nreturn [{ json: {\n  action: 'user_registered',\n  email: result.email,\n  authToken: result.authToken,\n  spreadsheetId: result.spreadsheetId,\n  projectType: result.projectType,\n  plan: result.plan\n} }];"
      },
      "id": "sw-0005",
      "name": "Parse Registration Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst projectType = data.projectType || 'cosmetic';\nconst baseUrl = 'https://princeadarkwah.app.n8n.cloud';\n\nlet chatUrl, productName;\nif (projectType === 'project') {\n  chatUrl = baseUrl + '/webhook/project-assistant-chat';\n  productName = 'Project Management AI Assistant';\n} else {\n  chatUrl = baseUrl + '/webhook/cosmetic-chat';\n  productName = 'Cosmetic Formulation AI Assistant';\n}\n\n// Build welcome email HTML\nconst emailHtml = `\n<h2>Welcome to ${productName}!</h2>\n<p>Hi ${data.email},</p>\n<p>Your subscription is now active. Here's how to get started:</p>\n<ol>\n  <li><strong>Open your AI assistant:</strong> <a href=\"${chatUrl}\">${chatUrl}</a></li>\n  <li><strong>Your auth token:</strong> <code>${data.authToken}</code></li>\n  <li>The token is already saved in the chat interface — just open the link and start chatting!</li>\n</ol>\n<p><strong>Your plan includes:</strong></p>\n<ul>\n  <li>100 conversations per month</li>\n  <li>Your own private data spreadsheet</li>\n  <li>Usage resets on the 1st of each month</li>\n</ul>\n<p>Need help? Reply to this email.</p>\n<p>— The FormulateAI Team</p>\n`;\n\nreturn [{ json: {\n  to: data.email,\n  subject: `Your ${productName} is Ready!`,\n  html: emailHtml,\n  authToken: data.authToken,\n  chatUrl\n} }];"
      },
      "id": "sw-0006",
      "name": "Build Welcome Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-cancelled",
              "leftValue": "={{ $json.eventType }}",
              "rightValue": "customer.subscription.deleted",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-0007",
      "name": "Is Subscription Cancelled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "1IDVVby9y7ccYwi5NRjXCx5HRjao2NJ3KNUKDrv-Y3bI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Users", "mode": "name" },
        "options": {},
        "returnAll": true
      },
      "id": "sw-0008",
      "name": "Read All Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1120, 400],
      "credentials": { "googleSheetsOAuth2Api": { "id": "qpV1Z8tc0XDqAdRH", "name": "Google Sheets account" } },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const email = $('Parse Stripe Event').first().json.email;\nconst users = $input.all();\n\nif (!users || users.length === 0 || !users[0].json.AuthToken) {\n  return [{ json: { found: false, error: 'No users in registry' } }];\n}\n\n// Find user by email\nconst userIdx = users.findIndex(u => \n  (u.json.Email || '').toLowerCase().trim() === email\n);\n\nif (userIdx === -1) {\n  return [{ json: { found: false, error: 'User not found: ' + email } }];\n}\n\nconst rowNumber = userIdx + 2; // +2 for header row + 0-index\nreturn [{ json: {\n  found: true,\n  email,\n  rowNumber,\n  action: 'deactivate'\n} }];"
      },
      "id": "sw-0009",
      "name": "Find User to Deactivate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "user-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "sw-0010",
      "name": "User Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/1IDVVby9y7ccYwi5NRjXCx5HRjao2NJ3KNUKDrv-Y3bI/values/Users!I' + $json.rowNumber + '?valueInputOption=RAW' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [['FALSE']] }) }}",
        "options": {}
      },
      "id": "sw-0011",
      "name": "Set User Inactive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 350],
      "credentials": { "googleSheetsOAuth2Api": { "id": "qpV1Z8tc0XDqAdRH", "name": "Google Sheets account" } }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Stripe Event", "type": "main", "index": 0 }]] },
    "Parse Stripe Event": { "main": [[{ "node": "Is Checkout Complete?", "type": "main", "index": 0 }]] },
    "Is Checkout Complete?": {
      "main": [
        [{ "node": "Register New User", "type": "main", "index": 0 }],
        [{ "node": "Is Subscription Cancelled?", "type": "main", "index": 0 }]
      ]
    },
    "Register New User": { "main": [[{ "node": "Parse Registration Result", "type": "main", "index": 0 }]] },
    "Parse Registration Result": { "main": [[{ "node": "Build Welcome Email", "type": "main", "index": 0 }]] },
    "Is Subscription Cancelled?": {
      "main": [
        [{ "node": "Read All Users", "type": "main", "index": 0 }],
        []
      ]
    },
    "Read All Users": { "main": [[{ "node": "Find User to Deactivate", "type": "main", "index": 0 }]] },
    "Find User to Deactivate": { "main": [[{ "node": "User Found?", "type": "main", "index": 0 }]] },
    "User Found?": {
      "main": [
        [{ "node": "Set User Inactive", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
